@'
.venv/
__pycache__/
*.pyc
data/snapshots/
'@

savetoken.py

data/snapshots_marrakesh/

patch_figs.py

*.code-workspace
snapshots.zip

*.code-workspace
snapshots.zip

fix*.py
add*.py
sync_release.py
